body{
    background-image:url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navigation{
    padding: 20px;
}
.navigation ul{
    list-style-type:none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.navigation ul li{
    display: inline-block;

}
.navigation a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.navigation a:hover{
    color: rgb(253,65,49);
}

.name{
    margin-top: 100px;
    width: 100;
    color: white;
    display: block;
    text-align: center;
}
.sameline{
    display: inline-block;
    margin-right: 10px;
}

#i1,#i2,#i3{
    font-size: 70px;
    font-family: "Bowlby One", system-ui;
    font-weight: 700;
}

#e1,#e2,#first,#second{
    font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#i1:hover,#i2:hover,#i3:hover{
    color: rgb(116,238,21);
    text-shadow: 1px 1px 1px red;
}

.aboutmain{
    display: flex;
    flex-direction: column;
}

.detail{
 display: flex;
    flex-direction: row;

}
.detail div {
    height: 50%;
   
    border-radius: 20px;
    margin: 30px;
    
}

.education{
    text-align: center;
    width: 50%;
    border: 3px solid white;
}
.education h2{
    color: white;
    font-family:"Bowbly One",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.education:hover{
    box-shadow: 7px 7px 2px rgba(128, 128, 128, 0.503);
    transform: scale(1.1);
}

.experience{
    text-align: center;
    width: 50%;
    border: 3px solid white;
}

.experience h2{
    color: white;
    font-family:"Bowbly One",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.experience:hover{
    box-shadow: 7px 7px 2px rgba(128, 128, 128, 0.503);
    transform: scale(1.1);
}

.eduexp{
    color: rgb(48,252,145);
}
#eduh1,#exph1{
    font-family:"Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.detail{

    height: 50%;
}

#skilltool{
    font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(11,255,1);
text-align: center;
}

.skill{
    height: 50%;
    text-align: center;
    overflow: hidden;
    margin-left: 35%;
   margin-right: 35%;
}

.skill h1{
    display: block;
    color: rgb(11,255,1);
    padding: auto;}
.skill img{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    
}
.skillimgdiv{
   white-space: nowrap;
   position: relative;
  
}
.skilltest{
    display: inline-block;
    animation: 5s skilltes infinite linear;
}
.skilltest img{
    height: 10px;
}

#empty{
    display: block;
    height: 100px;
    
}

@keyframes skilltes {
    from{
        transform: translateX(100%);
    }
    
    to{
        transform: translateX(0);
    }
}

.skillimgdiv:hover .skillimg{
    animation-play-state: paused;
}

.skillimg{
    display: inline-block;
    animation: 15s slide infinite linear;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.toolimgdiv{
    white-space: nowrap;
    position: relative;
}
.toolimg{
    display: inline-block;
    animation:15s slide2 infinite linear;
}

.toolimgdiv:hover .toolimg{
    animation-play-state: paused;
}

@keyframes slide2 {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
    
}

.contacttext h1{
    font-size: 50px;
    color: rgb(85,255,225);
}

.contcl{
    display: inline-block;
    margin-left: 10px;
}

#wantto{
 font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#newpro{
 font-family: "Bowlby One",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: lighter;
    padding: 10px;
    border-radius: 20px;
    animation: 5s colorswitch infinite linear;
}

@keyframes colorswitch {
    0%{color:rgb(254,0,0) ;}
    20%{color:rgb(253,254,2) ;}
    40%{color:rgb(11,255,1) ;}
    60%{color:rgb(1,30,254) ;}
    80%{color:rgb(254,0,246) ;}
    100%{color:rgb(255,255,255) ;}
    
}

.freecont{
    margin-left: 30px;
}
.freecont h1{
    font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 30px;
}
.contactimage img{
 display: inline-block;
 height: 50px;
 margin-left: 30px;
 border-radius: 20px;
}

.procenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    text-align: center;
}

.container p{
    text-align: justify;
}

.container div{
    width: 40%;
    background-color: rgba(128, 128, 128, 0.468);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}

.button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    margin-left: 45%;
    margin-right: 45%;
}

#b1{
    border-radius: 20px;
    font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor:grab;
    font-weight: bold;
}

#b1:hover{
    background-color: tomato;
    font-weight: bolder;
    color: black;
    box-shadow: 5px 5px 2px rgb(98, 98, 98);
    animation: 2s colorbutton infinite linear;
}

@keyframes colorbutton {
    0%{background-color:rgb(254,0,0) ;}
    20%{background-color:rgb(253,254,2) ;}
    40%{background-color:rgb(11,255,1) ;}
    60%{background-color:rgb(1,30,254) ;}
    80%{background-color:rgb(254,0,246) ;}
    100%{background-color:rgb(255,255,255) ;}
    
}


.pro h1{
    color: rgb(11,255,1);
    font-family:"Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pro p{
    color: aqua;
    font-family: "Mono Trust Display",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pro:hover{
    box-shadow: 5px 5px 2px rgb(158, 158, 158);
    transform: scale(1.1);
}